
@{
    ViewData["Title"] = "Demand Generation";
}

<section class="about-banner">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Demand Generation
                </h1>
                <p class="text-white link-nav"><a href="index">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="#"> Demand Generation</a></p>
            </div>
        </div>
    </div>
</section>

<section class="post-content-area top-category-widget-area pt-60 pb-60 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-16 posts-list">
                <div class="single-post row">
                    <div class="col-lg-4  col-md-4">
                        <div class="feature-img">
                            <img class="img-fluid" src="img/leads_management.jpg" alt="">
                        </div>
                        <a class="posts-title" href="leadmanagement">
                            <h3>Lead Management</h3>
                        </a>
                        <p class="excert">
                            Get more leads for your business using a sales strategy with this Lead Management Framework.
                            The implementation of  lead generation framework will be able to transform strangers into potential customers.
                            This lead generation template, will help you demonstrate the customer journey or the steps or phases of an organization.
                        </p>
                        <a href="leadmanagement" class="primary-btn">View More</a>
                    </div>
                    <div class="col-lg-4 col-md-4 ">
                        <div class="feature-img">
                            <img class="img-fluid" src="img/drive-revenue.jpeg" alt="">
                        </div>
                        <a class="posts-title" href="driverevenue">
                            <h3>Drive Revenue</h3>
                        </a>
                        <p class="excert">
                            Measurement is the key to optimizing any process, and marketing campaigns are no exception.
                            When you establish and measure KPIs for your marketing campaigns, you can clearly see what works and what doesn't.
                            You can then direct your marketing dollars toward the most effective campaigns to achieve marketing success.
                        </p>
                        <a href="driverevenue" class="primary-btn">View More</a>
                    </div>
                    <div class="col-lg-4 col-md-4 ">
                        <div class="feature-img">
                            <img class="img-fluid" src="img/Campaign_Management.jpg" alt="">
                        </div>
                        <a class="posts-title" href="marketingcampaign">
                            <h3>Marketing Campaign</h3>
                        </a>
                        <p class="excert">
                            Modern marketers are using empirical and measurable evidence to prove hypotheses,
                            build learnings and create excitement for solving some of the most difficult
                            problems they face today.
                        </p>
                        <a href="marketingcampaign" class="primary-btn">View More</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
