@{
    ViewData["Title"] = "Revenue Engine";
}

<section class="about-banner">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Drive Revenue
                </h1>
                <p class="text-white link-nav"><a href="index">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="demandgeneration"> Demand Generation</a><span class="lnr lnr-arrow-right"></span>  <a href="#"> Drive-Revenue</a></p>
            </div>
        </div>
    </div>
</section>

<section class="post-content-area single-post-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post row">
                    <div class="col-lg-12">
                        <div class="feature-img">
                            <img class="img-fluid" src="img/Revenue_Engine.jpg" alt="">
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <h3 class="mt-20 mb-20">Revenue Generation</h3>
                        <p class="excert">
                            Understanding how to identify your target market and develop an effective marketing plan is a
                            vital factor in driving sales, which then drives revenue.
                            Driving sales starts with a creative campaign that fills your funnel with targeted prospects,
                            who you then qualify into leads to focus on the best opportunities.
                        </p>
                        <p>
                            However, to take it a step further, driving revenue is more than just focusing on qualified leads.
                            Many companies make the mistake of ignoring prospects who don’t qualify, removing them from the campaign and ultimately negatively effecting revenue.
                            According to SiriusDecisions, of the 20 percent of leads that sales reps follow up on,
                            70 percent are disqualified and 80percent of those disqualified prospects end up buying within the next 24 months – often from a competitor.
                        </p>
                        <p>
                            Verticurl will help your company manage and measure the success of your marketing campaigns with a combination of art and science,
                            leaving no stone unturned. We make sure your funnel is properly managed to include prospects who lead to revenue.
                            We’ll help you create multi-touch campaigns that provide better intelligence to your sales team.
                            Verticurl gives your funnel a complete makeover from top to bottom by:
                        </p>
                        <ul class="col-lg-12" style="list-style-type: disc; padding-left: 30px">
                            <li style="padding-left: 15px">Increasing the number of inbound leads, with proven results of 20 percent</li>
                            <li style="padding-left: 15px">Enhancing the efficacy of each step in the sales funnel</li>
                            <li style="padding-left: 15px">Overhauling your marketing automation process to recruit new customers and upsell, cross-sell, and resell existing customers</li>
                            <li style="padding-left: 15px">Enhancing the efficacy of each step in the sales funnel</li>
                            <li style="padding-left: 15px">Increasing sales productivity by focusing on the generation of more qualified leads</li>
                        </ul>

                    </div>

                    <div class="col-lg-12">
                        <div class="quotes">
                            Marketing channel strategy is not one-size-fitsall. Customer communities are highly valued by
                            all company types when it comes to customer
                            acquisition and retention. However, channel
                            ROI diverges for B2B, B2B2C, and B2C
                            elsewhere in the customer journey
                        </div>
                        <div class="row mt-30 mb-30">
                            <div class="col-12">
                                <img class="img-fluid" src="img/Understanding-Revenue-Generation.png" alt="">
                                <p>Image: SalesForce</p>
                            </div>

                            <div class="col-lg-12 mt-30">
                                <p>
                                    Never mind the days when measuring
                                    marketing effectiveness was largely guesswork,
                                    or based on glimpses into simple top-of-funnel
                                    data like opens and impressions. Today’s
                                    methods of measuring success are rapidly
                                    growing in sophistication.
                                    While simpler, singular-focused measurement
                                    technologies like web analytics and ad channel
                                    platforms are used by many marketers, more
                                    sophisticated technologies like DMPs and
                                    marketing analytics platforms are close behind.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="comment-form">
                    <h4>Leave a Comment</h4>
                    <form>
                        <div class="form-group form-inline">
                            <div class="form-group col-lg-6 col-md-12 name">
                                <input type="text" class="form-control" id="name" placeholder="Enter Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
                            </div>
                            <div class="form-group col-lg-6 col-md-12 email">
                                <input type="email" class="form-control" id="email" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                        </div>
                        <a href="#" class="primary-btn text-uppercase">Post Comment</a>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 sidebar-widgets">
                <div class="widget-wrap">
                    <partial name="_TopPosts" />

                </div>
            </div>
        </div>
    </div>
</section>
