
@{
    ViewData["Title"] = "Home page";
}


<section class="banner-area">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6 banner-left">
                <h6>Digital Cloud</h6>
                <h1>HEALTH CARE SOLUTION</h1>
                <p>
                    Leaders in the health and life sciences industry trust Cloud to help them gain agility and create the future of healthcare.
                </p>
                <a href="#offerings" class="primary-btn text-uppercase">discover now</a>
            </div>
            <div class="col-lg-6 col-md-6 banner-right d-flex align-self-end">
                <img class="img-fluid" src="img/hero-img.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Start Offered Services Area -->
<section id="offerings" class="services-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content  col-lg-7">
                <div class="title text-center">
                    <h1 class="mb-10">Emerging Healthcare Technologies</h1>
                    <p>Emerging technology, rising customer expectations, changing consumer behaviors, shifting business models and other forces are creating remarkable opportunities and challenges in the new era of digital disruption.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <span class="lnr lnr-pie-chart"></span>
                    <a href="machinelearning#machinelearning"><h4>Machine Learning</h4></a>
                    <p>
                        Machine Learning (ML) where business problems 
                        can learn and improve themselves by studying high volumes of available data. 
                        In this field very high volumes of data alone can teach the algorithms to create better computing models.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <span class="lnr lnr-laptop-phone"></span>
                    <a href="Omnichannel"><h4>Omni Channel Engagement</h4></a>
                    <p>
                        Improving customer understanding across the organization is essential
                        to developing a customer-centric culture. A multichannel
                        customer engagement center can provide a single source of
                        truth about customer behaviors.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <span class="lnr lnr-camera"></span>
                    <a href="customerjourney"><h4>Predicting Customer Journey</h4></a>
                    <p>
                        CX leaders are now joined by their
                        leadership in realizing the value
                        customer journey maps offer. However,
                        recognizing their importance is only the
                        first step implement actionable maps is the key step
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <span class="lnr lnr-picture"></span>
                    <a href="breakingsilos"><h4>Breaking Down Silos</h4></a>
                    <p>
                        Social marketing succeeds when it supports the broader organization with relevant content,
                        customer data and insights. Marketing leaders who combine the right strategy, tools,
                        content and distribution approach to their social marketing efforts deliver greater business value
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <span class="lnr lnr-tablet"></span>
                    <a href="profiling"><h4>Progressive Profiling</h4></a>
                    <p>
                        Gradually collect more data on customer at strategically timed intervals throughout the journey.
                        It involves requesting a few pieces of data at a time, rather than asking for too much all at once.
                        Each interaction involves the exchange of something of value, such as an eBook, for a bit more data.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <span class="lnr lnr-rocket"></span>
                    <a href="persona"><h4>Customer Persona</h4></a>
                    <p>
                        Personas can be powerful marketing tools to inform decisions,
                        guide strategies, improve customer experience and enhance collaboration.
                        However, personas are only a starting point. They are most powerful when
                        marketers support, evangelize and use them to understand customers and
                        their journeys
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start brands Area -->
<section class="brands-area">
    <div class="container">
        <div class="brand-wrap">
            <div class="row align-items-center active-brand-carusel justify-content-start no-gutters">
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="img/sitecore.jpg" alt=""></a>
                </div>
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="img/marketo.jpg" alt=""></a>
                </div>
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="img/hubspot.svg" alt=""></a>
                </div>
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="img/Azure-logo.jpg" alt=""></a>
                </div>
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="img/bluekai.gif" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End brands Area -->
<!-- Start portfolio-area Area -->
<!-- End portfolio-area Area -->
